.inputForm {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(39, 39, 39, 255);
  height: 100%;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  justify-content: center;
  float: right;
}
.inputForm label {
  color: #79797a;
  font-weight: 400;
}
.heading {
  margin-bottom: 50px;
}
.emailInput,
.passwordInput {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.inputForm input {
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  border-radius: 6px;
}
.submitBtn {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.submitBtn button {
  font-weight: 700;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 30px;
  border-radius: 6px;
  color: white;
  background-color: #6740ff;
}
.submitBtn a {
  font-weight: 400;
  color: #737373;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .inputForm {
    width: 100%;
  }
}
