.unAuthorized {
  font-family: 'Raleway', sans-serif;
  background-color: #4c3763a4;
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unAuthorized a {
  color: white;
  text-decoration: none;
}

.unAuthorized .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.unAuthorized .title {
  font-size: 5em;
  font-weight: 700;
  color: white;
}

.unAuthorized .title-2 {
  font-size: 40px;
  font-weight: 700;
  color: #0c437dc3;
}

.unAuthorized .buttons {
  margin-left: 50vw;
  width: fit-content;
  margin: 30px;
  font-weight: 700;
  border: 2px solid white;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  border-radius: 26px;
  display: inline-block;
}
